{{extend 'layout.html'}}
          <div class="features_items"><!--latest products-->
            <h2 class="title text-center">{{=T("Latest Products")}}</h2>
            {{for product in product_list:}}
              <div class="col-sm-4">
                <div class="product-image-wrapper">
                  <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="{{=URL("download",args=product.featured_image)}}" alt="" />
                        <h2>{{=product.price}}</h2>
                        <p>{{=product.name}}</p>
                        <a href="#" class="btn btn-default add-to-cart">
                          <i class="fa fa-shopping-cart"></i>{{=T("Add to cart")}}
                        </a>
                        <a href="#" class="btn btn-default add-to-cart">
                          <i class="fa fa-eye"></i>{{=T("View More")}}
                        </a>                        
                      </div>
                  </div>
                </div>
              </div>
            {{pass}}
          </div><!--latest products-->