{{extend 'layoutlogin.html'}}
<div class="box-content">
<div class="text-center">
    <h3 class="page-header">Login</h3>
</div>
{{=form.custom.begin}}
<div class="form-group">
    <label class="control-label">Usuário</label>
    <input class="form-control" name="email" type="text" placeholder="Insira o e-mail de acesso" />
</div>
<div class="form-group">
    <label class="control-label">Senha</label>
    <input class="form-control" name="password" type="password" placeholder="Insira a Senha" />
</div>

<div class="text-center">
    <input type="submit" value="Entrar" />
</div>
{{=form.custom.end}}
</div>
