<!DOCTYPE html>
<html lang="{{=T.accepted_language or 'en'}}">
	<head>
	  <meta name="language" content="{{=T.accepted_language or 'en'}}" /> 
	  <meta http-equiv="content-language" content="{{=T.accepted_language or 'en'}}" />
		<meta charset="utf-8">
   		<title>{{=response.title}} - {{=T("Admin Panel")}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{{=URL('static', 'adminpanel/plugins/bootstrap/bootstrap.css')}}" rel="stylesheet">
		<link href="{{=URL('static', 'adminpanel/plugins/jquery-ui/jquery-ui.min.css')}}" rel="stylesheet">
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    	<link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
		<link href="{{=URL('static', 'adminpanel/css/style.css')}}" rel="stylesheet">
		<link href="{{=URL('static','css/fileuploader.css')}}" rel="stylesheet">
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
				<script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
				<script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
		<![endif]-->
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<!--<script src="http://code.jquery.com/jquery.js"></script>-->
		<script src="{{=URL('static', 'adminpanel/plugins/jquery/jquery-2.1.0.min.js')}}"></script>
		<script src="{{=URL('static', 'adminpanel/plugins/jquery-ui/jquery-ui.min.js')}}"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{{=URL('static', 'adminpanel/plugins/bootstrap/bootstrap.min.js')}}"></script>
		<script src="{{=URL('static','adminpanel/js/web2py.js')}}"></script>
		<script src="{{=URL('static', 'adminpanel/plugins/datatables/jquery.dataTables.js')}}"></script>
		<script src="{{=URL('static', 'adminpanel/plugins/datatables/TableTools.js')}}"></script>
		<script src="{{=URL('static', 'adminpanel/plugins/datatables/dataTables.bootstrap.js')}}"></script>
		<script src="{{=URL('static','js/fileuploader.js')}}"></script>
        <link href="{{=URL('static', 'css/web2py_bootstrap.css')}}" rel="stylesheet" type="text/css" />

		<!-- All functions for this theme + document.ready processing -->
		<script src="{{=URL('static', 'adminpanel/js/devoops.js')}}"></script>
	</head>
<body>
<header class="navbar">
	<div class="container-fluid expanded-panel">
		<div class="row">
			<div id="logo" class="col-xs-12 col-sm-2">
				<a href="{{=URL(c='adminpanel', f='index')}}">{{=T("Admin Panel")}}</a>
			</div>
			<div id="top-panel" class="col-xs-12 col-sm-10">
				<div class="row">
					<div class="col-xs-8 col-sm-4">
					{{if response.flash:}}
					<div class="flash" style="position: absolute;">{{=response.flash or ''}} </div>
					{{pass}}
					</div>
					<div class="col-xs-4 col-sm-8 top-panel-right">
						<ul class="nav navbar-nav pull-right panel-menu">
			              <li>
			                <a href="{{=URL(c='default', f='index')}}" target="_blank">
			                  {{=T('View the site')}}
			                </a>
			              </li>
			              <li>
			                <a href="{{=URL(c='default', f='user', args='logout')}}">
			                  {{=T('Logout')}}
			                </a>
			              </li> 
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!--End Header-->
<!--Start Container-->
<div id="main" class="container-fluid">
	<div class="row">
		<!--start Sidebar-->
		<div id="sidebar-left" class="col-xs-2 col-sm-2">
			<ul class="nav main-menu">
				<li>
					<a href="{{=URL()}}" class="active ajax-link">
						<i class="fa fa-dashboard"></i>
						<span class="hidden-xs">{{=T("Dashboard")}}</span>
					</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-bar-chart-o"></i>
						<span class="hidden-xs">{{=T("Catalog")}}</span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="{{=URL(c='adminpanel', f='products')}}">
								{{=T("Products")}}
							</a>
						</li>
						<li>
							<a href="{{=URL(c='adminpanel', f='product_categories')}}">
								{{=T("Categories")}}
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-table"></i>
						 <span class="hidden-xs">{{=T("Orders")}}</span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="{{=URL(c='adminpanel', f='orders')}}">
								{{=T("Orders")}}
							</a>
						</li>
						<li>
							<a href="{{=URL(c='adminpanel', f='invoices')}}">
								{{=T("Invoices")}}
							</a>
						</li>
						<li>
							<a href="{{=URL(c='adminpanel', f='merchandise_returns')}}">
								{{=T("Merchandise Returns")}}
							</a>
						</li>
						<li>
							<a href="{{=URL(c='adminpanel', f='statuses')}}">
								{{=T("Statuses")}}
							</a>
						</li>
						<li>
							<a href="{{=URL(c='adminpanel', f='order_messages')}}">
								{{=T("Order Messages")}}
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-desktop"></i>
						 <span class="hidden-xs">{{=T("Suppliers")}}</span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="{{=URL(c='adminpanel', f='suppliers')}}">
								{{=T("Suppliers")}}
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-desktop"></i>
						 <span class="hidden-xs">{{=T("Stock")}}</span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="{{=URL(c='adminpanel', f='stock')}}">
								{{=T("Stock")}}
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-desktop"></i>
						 <span class="hidden-xs">{{=T("Shipping")}}</span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="{{=URL(c='adminpanel', f='carriers')}}">
								{{=T("Carriers")}}
							</a>
						</li>
						<li>
							<a href="{{=URL(c='adminpanel', f='carriers_tax')}}">
								{{=T("Carriers Tax")}}
							</a>
						</li>						
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-pencil-square-o"></i>
						 <span class="hidden-xs">{{=T("Costumers")}}</span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="{{=URL(c='adminpanel', f='costumers')}}">
								{{=T("Costumers")}}
							</a>
						</li>
						<li>
							<a href="{{=URL(c='adminpanel', f='costumer_groups')}}">
								{{=T("Groups")}}
							</a>
						</li>
						<li>
							<a href="{{=URL(c='adminpanel', f='shopping_carts')}}">
								{{=T("Shopping Carts")}}
							</a>
						</li>
					</ul>
				</li>

				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-list"></i>
						 <span class="hidden-xs">{{=T("Preferences")}}</span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">
								{{=T("Store Info")}}
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-list"></i>
						 <span class="hidden-xs">{{=T("Adminstration")}}</span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="{{=URL(c='adminpanel', f='store_users')}}">
								{{=T("Store Users")}}
							</a>
						</li>
						<li>
							<a href="{{=URL(c='adminpanel', f='user_groups')}}">
								{{=T("User Groups")}}
							</a>
						</li>

					</ul>
				</li>

			</ul>
		</div>
		<!--End Sidebar-->
		<!--Start Content-->
		<div id="content" class="col-xs-12 col-sm-10">
		{{include}}
		</div>
		<!--End Content-->
	</div>
</div>
<!--End Container-->
</body>
</html>
