{{extend 'layoutadmin.html'}}
<!--Start Breadcrumb-->
<div class="row">
	<div id="breadcrumb" class="col-xs-12">
		<ol class="breadcrumb">
			<li><a href="{{=URL(c='adminpanel', f='index')}}">Home</a></li>
			<li><a href="#">{{=T("Shopping Carts")}}</a></li>
		</ol>
	</div>
</div>
<!--End Breadcrumb-->
<!--Start Dashboard 1-->
<div id="dashboard-header" class="row">
	<div class="row clearfix">
	  <div class="col-md-12 column">
	    <div class="alert alert-dismissable alert-warning">
	      <strong>{{=T("Use the left navigation to manage your store")}}</strong>
	    </div>
	  </div>
	</div>
</div>
